.contactanos__container{
    padding: 20px 170px;
}
.contactanos__1{
    padding-bottom: 83px;
}
.contactanos__1_title{
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 78.02px;
    margin-bottom: 20px;
}

.contactanos__1_description{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.38px;
    text-align: justify;
}
.contactanos__2{
    display: flex;
}
.form-input{
    width: 100%;
    position: relative;
    padding-bottom: 8px;
}
input{
    background-color: rgba(209, 200, 193, 1);
    border-radius: 18px;
    border: 2px solid transparent;
    color:rgba(43, 30, 12, 0.72);
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    padding: 10px 21px;
    width: 874px;
}
textarea{
    background-color: rgba(209, 200, 193, 1);
    border-radius: 18px;
    border: 2px solid transparent;
    color:rgba(43, 30, 12, 0.72);
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
    padding: 10px 21px;
    box-sizing: border-box;
    width: 874px;
    height: 235px;
}
.btn-subir{
    border-radius: 10px;
    background: #D1C8C1;
    border: 2px solid transparent;
    color:rgba(43, 30, 12, 0.72);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.26px;
    padding: 14px 63px;
    cursor: pointer;
}
.icon-subir{
    position: absolute;
    left: 29px;
    top: 14px;
}
.contactanos__2_img{
    position: relative;
    width: 417px;
    height: 386px;
    left: 220px;
    bottom: 50px;
}
.btn-enviar{
    border-radius: 50px;
    background: #31241E;
    border: 2px solid transparent;
    color:#fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.26px;
    padding: 20px 82px;
    position: relative;
    top: 43px;
    cursor: pointer;
}




