input{
    border: 2px solid transparent;
    color:rgba(43, 30, 12, 0.72);
    padding: 10px 21px;
    background: #D9D9D9;
}
h3{
    color: #000;
    font-family: 'Montserrat';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.48px;
}

.sellos__container{
    position: relative;
    width: 1606px;
    padding: 0 20px;
    margin: 0 auto;
}
.sellos__1_title{
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
}
.sellos__2{
    width: auto;
}
.sellos__2_container{
    display: flex;
    width: auto;
    height: 100%;
}
.sellos__2_subcontainer1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sellos__2_diseniooPrecio{
    padding: 20px;
    height: auto;
    border-radius: 25px;
    background: #D9D9D9;
}
.sellos__2_diseniooPrecio h3:nth-child(1){
    margin-bottom: 42px;
}
.form-input{
    position: relative;
}
.btn-subir{
    border-radius: 10px;
    background: #D1C8C1;
    border: 2px dashed black;
    color:rgba(43, 30, 12, 0.72);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.26px;
    padding: 88px 84px;
    cursor: pointer;
}
.icon-subir{
    position: absolute;
    top: 44%;
    left: 15%;
}
.sellos__2_diseniooPrecio:nth-child(1){
    margin-bottom: 20px;
    padding: 33px 27px 53px 27px;
    height: 367px;
}
.sellos__2_diseniooPrecio:nth-child(2) h3:nth-child(2){
    position: relative;
    left: 35%;
    top:-8%;
}
.sellos__2_subcontainer2{
    padding: 17px 46px;
    width: 1042px;
    height: auto;
    border-radius: 25px;
    background: #D1C8C1;
    display: flex;
    margin-left: auto;
}
.sellos__2_caracteristica{
    height: auto;
    border-radius: 30px;
    background: #F6F4F3;
    padding: 27px 28px 22px 28px;
    width: 446px;
}
.sellos__2_caracteristicas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
}
.sellos__2_caracteristicas .form-input input{
    font-weight: 700;
    font-size: 24px;
    line-height: 29.26px;
}
.sellos__2_colores{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sellos__2_cartucho img{
    margin-right: 30px;
}
.sellos__2_compra{
    margin-left: 71px;
}
.sellos__2_img{
    position: relative;
    top: 9%;
}
.flechaNextIcon{
    position: absolute;
    left: 90%;
    top: 45%;
}
.flechaBackIcon{
    position: absolute;
    top: 46%;
    left: 1%;
}
.sellos__2_cantidad{
    display: flex;
    justify-content: center;
}
.sellos__2_cantidad-edit{
    margin-left: 24px;
    display: flex;
}
.sellos__2_input input{
    border-radius: 9px;
    border: 2px solid transparent;
    text-align: center;
    color:rgba(43, 30, 12, 0.72);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 5px 5px;
    background: #D9D9D9;
    width: 60px;
    height: 32px;
}
.sellos__2_input{
    margin: 0 6px;
}
.sello__3{
    margin-top: 58px;
}
.sello__3_buttons{
    display: flex;
    justify-content: flex-end;
}
.btn-enviar{
    border-radius: 50px;
    background: #31241E;
    border: 2px solid transparent;
    color:#fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.26px;
    padding: 20px 82px;
}
.btn-enviar-agregar{
    margin-right: 42px;
}

.botonpage{
    margin-right: 20px;
}

.nav-link.productos{
    color: #FF7000;
    -webkit-text-stroke: 1px  #FF7000;
}

.bi-caret-left-fill{
    color: #31241E;
    cursor: pointer;
}

.bi-caret-left-fill:hover{
    cursor: pointer;
    color: #5c4940;
}
