h4{
    color: #2B1E0C;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24.38px;
}
h3{
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36.57px;
}
.shop__1{
    display: flex;
    text-align: center;
    justify-content: center;
}
.shop__1_title{
    color: #2B1E0C;
    font-family: Inika;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.shop__container{
    padding: 20px 170px;
}
.shop__2{
    margin-top: 59px;
    display: flex;
    justify-content: center;
}
.shop__2_compra{
    width: 1050px;
    height: 651px;
}
.shop__2_container{
    border-radius: 25px;
    background: #D1C8C1;
    padding: 20px 40px;
    margin-bottom: 20px;
}
.shop__2_subcontainer{
    display: flex;
}
.img-logo_edit-delete{
    margin: 0 53px 0 14px;
}
.name-color{
    display: flex;
    color: #000;
    font-family: 'Montserrat';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}
.bi-square-fill{
    color: red;
    font-size: 25px;
    position: relative;
    top: 4px;
    margin: 0 14px;
}
.tintaIcon{
    position: relative;
    top:-4px;
}
.detalle-sello{
    width: auto;
    display: flex;
    align-items: flex-start;
}
th,td{
    padding: 10px;
    text-align: center;
}
.rowModificated{
    padding: 0;
    position: relative;
    bottom: 7px;
}
.sellos__2_icon{
    text-align: center;
}
.selloIcon{
    width: 208px;
    height: 105px;
}
.shop__2_resumen{   
    margin-left: 43px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: auto;
}
.shop__2_resumen-container{
    padding: 40px 20px;
    height: auto;
    border-radius: 25px;
    background: #D9D9D9;
}
.shop__2_resumen-container:nth-child(2){
    margin-top: 20px;
}
.shop__2_resumen-medio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.shop__2_resumen-online{
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: #D1C8C1;
    padding: 20px 20px;
    width: 100%;
    justify-content: space-between;
}
.shop__2_resumen-online:nth-child(2){
    margin-bottom: 19px;
}
.shop__2_resumen-logos{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-left: 20px;
}
.shop__2_resumen-pagos{
    border-radius: 10px;
    border: 2px solid #969696;
    padding: 7px 14px;
    background: transparent;
}
.shop__2_resumen-pago{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;  
}
.shop__2_resumen-pago-comprobante{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}
.btn-enviar{
    border-radius: 50px;
    background: #31241E;
    border: 2px solid transparent;
    color:#fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.26px;
    padding: 20px 82px;
    cursor: pointer;
}
.nav-link.carrito{
    color: #FF7000;
    -webkit-text-stroke: 1px  #FF7000;
}
.sellos__2_cantidad-edit{
    display: flex;
}
.sellos__2_input input{
    border-radius: 9px;
    border: 2px solid transparent;
    text-align: center;
    color:rgba(43, 30, 12, 0.72);
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 5px 5px;
    background: #D9D9D9;
    width: 60px;
    height: 32px;
}
.sellos__2_input{
    margin: 0 6px;
}
.form-input{
    margin-top: 25px;
}